<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | Ecommerce</title>
    </head>
    <body>
        <h1>Ecommerce</h1>
        <p>This is a ecommerce website</p>
    </body>
</html>